.m-contact-box {
    @include flex(column, nowrap, flex-start, flex-start, flex-start);
    background: $white;
    border: 4px solid $white;

    &__callout {
        background: $leaf;
    }

    &__column {
        @include flex(row, nowrap, flex-start, center, center);
        gap: 1rem;
        width: 100%;
        padding: 1rem;

        &:first-of-type {
            border-bottom: 1px solid $beige;
        }
    }

    &__text {
        @include flex(column, nowrap, flex-start, flex-start, flex-start);
        gap: 0.25rem;

        p strong {
            @include fontHeading();
            font-size: 1.2rem;
        }
    }

    @include media("wide+") {
        @include flex(row, nowrap, space-between, stretch, stretch);
        width: 100%;
        max-width: 90%;

        &__column:first-of-type {
            border-right: 1px solid $beige;
            border-bottom: 0;
        }
    }
}